@model Models.Entrevista

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Entrevista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntrevistaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntrevistaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tabagismo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tabagismo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TabagismoObs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TabagismoObs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cafe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cafe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bebida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drogas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drogas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrogasObs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrogasObs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicamentoObs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicamentoObs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcMedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcMedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TratPsicologico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TratPsicologico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DorCabeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DorCabeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tonturas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tonturas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insonia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insonia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desmaios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desmaios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doencas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doencas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoencasObs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoencasObs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dominante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dominante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelFamiliar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelFamiliar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pcd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pcd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcdObs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcdObs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtividadeRem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtividadeRem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Declaracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Declaracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parecer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parecer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PsicologoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PsicologoId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
