@model IEnumerable<Models.Caixa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/vendors/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="page-title">
    <div class="clearfix"></div>
    <div class="col-md-12 ">
        <div class="row">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Lançamentos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <a asp-action="Create">Novo</a>&nbsp;|&nbsp;
                        <a asp-action="" onClick="window.print()">Imprimir</a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CaixaId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Data)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Historico)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Tipo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Valor)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FormaPgto)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Ref)
                                            </th>
                                            <th>
                                                Opções
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CaixaId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Data)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Historico)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tipo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Valor)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FormaPgto)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ref)
                                                </td>
                                                <td>
                                                    <a asp-action="Details" asp-route-id="@item.CaixaId" class="glyphicon glyphicon-zoom-in"></a> |
                                                    <a asp-action="Edit" asp-route-id="@item.CaixaId" class="glyphicon glyphicon-edit"></a> |
                                                    <a asp-action="Delete" asp-route-id="@item.CaixaId" class="glyphicon glyphicon-trash"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptPage{
    <script type="text/javascript" src="~/Content/vendors/dataTables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}