@model Models.Carrinho

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Incluir Exames Para: @ViewBag.Cliente</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" type="hidden" class="form-control" />

                            <div class="item form-group">
                                <label asp-for="Data" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input asp-for="Data" type="text" value="@DateTime.Today.ToString("dd/MM/yyyy")" class="form-control" required="required" data-inputmask="'mask': '99/99/9999'" disabled="disabled">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Exame 1</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <select asp-for="Produto1Id" class="form-control" asp-items="@(new SelectList(@ViewBag.Produtos, "Id", "Nome"))" required="required">
                                        <option selected="selected" value="">Selecionar</option>
                                    </select>

                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Exame 2</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <select asp-for="Produto2Id" class="form-control" asp-items="@(new SelectList(@ViewBag.Produtos, "Id", "Nome"))">
                                        <option selected="selected" value="">Selecionar</option>
                                    </select>

                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Exame 3</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <select asp-for="Produto3Id" class="form-control" asp-items="@(new SelectList(@ViewBag.Produtos, "Id", "Nome"))">
                                        <option selected="selected" value="">Selecionar</option>
                                    </select>

                                </div>
                            </div>
                            <input asp-for="Produto4Id" type="hidden" class="form-control" />

                            @if (@ViewBag.Caixa > 0)
                            {
                                <p> </p>
                                <p><span style="color: #f00;">* O cliente ja possui exames não pagos cadastrados no caixa!</span></p>
                            }
                            @*<div class="item form-group">
                                <div class="col-md-11 col-sm-11 ">
                                    <div class="checkbox">
                                        <label class="col-form-label col-md-12 col-sm-12 label-align">
                                            <input name="baixaFlag" type="checkbox" class="flat"> Realizar baixa automatica do(s) exame(s) cadastrado(s).
                                        </label>
                                    </div>
                                </div>
                            </div>*@

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 offset-md-2">
                                    <button type="submit" class="btn btn-success">Incluir</button>
                                    <a asp-controller="Cliente" asp-action="Index" class="btn btn-primary">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


