@model Models.Colaborador

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles {
    <link href="~/Content/vendors/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}


<div class="">
    <div class="col-md-8 col-sm-8  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Ficha do Colaborador</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="">Editar</a>&nbsp; | &nbsp;
                    <a asp-action="Index">Retornar</a>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informações Gerais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Documentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Endereço</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div>
                            <hr />
                            <dl class="row">
                                @Html.HiddenFor(model => model.Id)
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.DtCadastro)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="DtCadastro" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Nome)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Nome" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Telefone1)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Telefone1" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Telefone2)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Telefone2" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Email)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Email" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Funcao)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Funcao" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Clinica.Alias)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input value="@ViewBag.ClinicaNome" type="text" class="form-control" disabled="disabled" />
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div>
                            <hr />
                            <dl class="row">
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.RG)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="RG" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.CPF)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="CPF" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.CRM)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="CRM" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.CRP)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="CRP" type="text" class="form-control" disabled="disabled">
                                </dd>                               
                            </dl>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.HiddenFor(model => model.Endereco.Id)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.HiddenFor(model => model.Endereco.Id)
                                </dd>

                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Endereco.Cep)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Endereco.Cep" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Endereco.Rua)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Endereco.Rua" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Endereco.Bairro)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Endereco.Bairro" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Endereco.Cidade)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Endereco.Cidade" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Endereco.Estado)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Endereco.Estado" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Endereco.Numero)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Endereco.Numero" type="text" class="form-control" disabled="disabled">
                                </dd>
                                <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Endereco.Complto)</dt>
                                <dd class="col-md-9 col-sm-9 ">
                                    <input asp-for="Endereco.Complto" type="text" class="form-control" disabled="disabled">
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>