@model IEnumerable<PPTRANControlesWebApp.Models.Relatorio.DiarioMedicoViewModel>

@{
    ViewData["Title"] = "Diario Medico";
}

@section styles {
    <link href="~/Content/vendors/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2> Exames Medicos Realizados em @ViewBag.DataAtual</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <a asp-action="" onClick="window.print()" class="glyphicon glyphicon-print"></a>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("DiarioMedico", "Relatorio", FormMethod.Post))
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                @Html.DropDownList("medico", ViewData["Medicos"] as SelectList, new { @class = "form-control" })
                            </div>
                            <div class="col-sm">
                                Selecionar Data: &nbsp;<input name="dateTime" type="date" value="" style="border:2px solid #DCDCDC">
                                <input type="submit" value="Buscar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    <br />
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Contagem
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cliente)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => i)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente)
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>

                <div class="alert alert-success alert-dismissible ">
                    @ViewBag.Agrupar0
                    <br />
                    @ViewBag.Agrupar1
                    <br />
                    @ViewBag.Agrupar2
                    <br />
                    @ViewBag.Agrupar3
                    <br />
                    @ViewBag.Agrupar4
                    <br />
                    @ViewBag.Agrupar5
                </div>
            </div>
        </div>
    </div>
</div>
