@model IEnumerable<PPTRANControlesWebApp.Models.Relatorio.LancamentoViewModel>

<a href="~/Models/Relatorio/LancamentoViewModel.cs"></a>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/vendors/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}



<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="d-flex justify-content-between">
                <h2>
                    Lançamentos no Caixa por Forma de Pagamento @ViewBag.Mes
                </h2>
                <a onClick="window.print()" class="glyphicon glyphicon-print"></a>
            </div>
            <p></p>
            <div class="x_content">
                @using (Html.BeginForm("Lancamento", "Relatorio", FormMethod.Post))
                {
                    <div class="container">
                        <div class="row d-flex justify-content-between">
                            <div class="col-sm-3">
                                Inicio: &nbsp;<input name="dataInicio" type="date" value="" style="border:2px solid #DCDCDC">
                            </div>

                            <div class="col-sm-3">
                                Fim: &nbsp;<input name="dataFim" type="date" value="" style="border:2px solid #DCDCDC">
                            </div>

                            <div class="col-sm-4">
                                Forma Pgto: <select name="FormaPgto" type="text" value="" style="border:5px solid #DCDCDC">
                                    <option value="-1">Selecionar</option>
                                    <option value="0">Dinheiro</option>
                                    <option value="1">Cartao</option>
                                    <option value="2">Cheque</option>
                                    <option value="3">Transferencia</option>
                                    <option value="5">Cortesia</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" value="Buscar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }

                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Clinica)
                            </th>
                            <th>
                                Lançamento
                            </th>
                            <th>
                                Historico / Referencia
                            </th>
                            <th>
                                Forma Pagamento
                            </th>
                            <th>
                                Debito
                            </th>
                            <th>
                                Credito
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Clinica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Produto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Historico)
                                    &nbsp;-&nbsp;
                                    @Html.DisplayFor(modelItem => item.Referencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormaPgto)
                                </td>
                                <td class="text-right">
                                    @if (item.Tipo == Models.EnumHelper.Tipo.Debito)
                                    {
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    }
                                </td>
                                <td class="text-right">
                                    @if (item.Tipo == Models.EnumHelper.Tipo.Credito)
                                    {
                                        @Html.DisplayFor(modelItem => item.Valor)
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="border-purple alert-heading ">

                        <tr>
                            <td>
                                <font size="4"><b> Total do Periodo</b></font>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                @ViewBag.Debito
                            </td>
                            <td class="text-right">
                                @ViewBag.Credito
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
