@model Models.Cliente

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Em construção</h3>

<div>
    @*<h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumRenach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumRenach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilPsicologico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfilPsicologico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumLaudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumLaudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtHabHum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtHabHum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naturalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naturalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escolaridade)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        @*<input type="submit" value="Delete" class="btn btn-danger" /> |*@
        <a asp-action="Index">Retornar</a>
    </form>


</div>
