@model PPTRANControlesWebApp.Models.Operacao.AgendaViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles {
    <link href="~/Content/vendors/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="card-body" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Agendar Atendimento</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*<a asp-action="Index">Retornar</a>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-5 col-sm-5  form-group">
                                    <input asp-for="Agenda.Nome" type="text" class="form-control" placeholder="Nome" required="required">
                                </div>

                                <div class="col-md-4 col-sm-4  form-group">
                                    <input asp-for="Agenda.Data" type="date" class="form-control" placeholder="Data" required="required">
                                </div>

                                <div class="col-md-3 col-sm-3   form-group">
                                    <input asp-for="Agenda.Hora" type="time" class="form-control" placeholder="Hora" required="required">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="Agenda.Telefone1" type="text" class="form-control" placeholder="Tel. Celular" data-inputmask="'mask' : '(99) 99999-9999'" required="required">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="Agenda.Telefone2" type="text" class="form-control" placeholder="Tel. Fixo" data-inputmask="'mask' : '(99) 9999-9999'">
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <input asp-for="Agenda.Obs" type="text" class="form-control" placeholder="Observação">
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    @if (@ViewBag.Psicologos != null)
                                    {
                                        <select asp-for="Agenda.Psicologo" class="form-control" asp-items="@(new SelectList(@ViewBag.Psicologos, "Id", "Nome"))" required="required">
                                            <option selected="selected" value="">Psicólogo(a)</option>
                                        </select>
                                    }
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    @if (@ViewBag.Medicos != null)
                                    {
                                        <select asp-for="Agenda.Medico" class="form-control" asp-items="@(new SelectList(@ViewBag.Medicos, "Id", "Nome"))" required="required">
                                            <option selected="selected" value="">Médico(a)</option>
                                        </select>
                                    }
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    @if (@ViewBag.Clinicas != null)
                                    {
                                        <select asp-for="Agenda.Clinica" class="form-control" asp-items="@(new SelectList(@ViewBag.Clinicas, "Id", "Alias"))" required="required">
                                            <option selected="selected" value="">Clínica</option>
                                        </select>
                                    }
                                </div>
                            </div>

                            <hr>
                            <div class="form-group">
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>