@model PPTRANControlesWebApp.Models.Usuario.UsuarioEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Nível de Acesso do Usuário: @Html.DisplayFor(model => model.Nome)</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <a asp-action="Index">Retornar</a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <form asp-action="Edit" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Email)
                            @Html.HiddenFor(model => model.Nome)
                            @Html.HiddenFor(model => model.UserName)

                            <div class="form-group">
                                <div>

                                    <dl class="row">
                                        <dt class="col-form-label col-md-3 col-sm-3 ">Atual</dt>
                                        <dd class="col-md-9 col-sm-9 ">                                            
                                            @Html.DisplayFor(modelItem => modelItem.Role)
                                        </dd>

                                    </dl>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>

                                    <dl class="row">
                                        <dt class="col-form-label col-md-3 col-sm-3 ">Novo</dt>
                                        <dd class="col-md-9 col-sm-9 ">
                                            @*<label asp-for="Roles"></label>*@
                                            @Html.DropDownList("Role", new SelectList(Model.Roles, "Text", "Text"))
                                        </dd>

                                    </dl>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="item form-group">
                                    <div class="col-md-12 col-sm-12 offset-md-2">
                                        <button type="submit" class="btn btn-success">Alterar</button>
                                        @*<a asp-controller="Usuario" asp-action="Index" class="btn btn-primary">Cancelar</a>*@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
