@model Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/vendors/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}


<div class="page-title">
    <div class="clearfix"></div>
    <div class="col-md-12 ">
        <div class="row">

            <div class="x_panel">
                <div class="x_title">
                    <h2>Nome do Candidato: @Html.DisplayFor(model => model.Nome)</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <a asp-action="Index">Retornar</a>&nbsp;|&nbsp;
                        <a asp-action="" onClick="window.print()">Imprimir</a>               
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <dl class="row">
                        <!--L1-->
                        <dt class="col-sm-2">
                            @* @Html.DisplayNameFor(model => model.ClienteId)*@
                        </dt>
                        <dd class="col-sm-10">
                            @Html.HiddenFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumRenach):.
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NumRenach)
                        </dd>

                        <!--L2-->
                       
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Categoria):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Categoria)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumLaudo):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.NumLaudo)
                        </dd>

                        <!--L3-->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RG):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.RG)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CPF):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.CPF)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telefone):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>

                        <!--L4-->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CNH):.
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.CNH)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DtHabHum):.
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.DtHabHum)
                        </dd>

                        <!--L5-->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pai):.
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Pai)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Mae):.
                        </dt>
                        <dd class="col-sm-4">
                            @Html.DisplayFor(model => model.Mae)
                        </dd>

                        <!--L6-->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nacionalidade):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Nacionalidade)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Naturalidade):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Naturalidade)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.EstadoCivil):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.EstadoCivil)
                        </dd>

                        <!--L7-->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DtNascimento):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.DtNascimento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Profissao):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Profissao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Escolaridade):.
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Escolaridade)
                        </dd>
                    </dl>

                    <div class="ln_solid"></div>

                    <div class="text-center">
                        <h4>ENTREVISTA</h4>
                        <p></p>
                    </div>
                    <div class="">
                        <p>Fumante&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, quantos por dia ? __________.</p>

                        <p>Consome Cafe preto&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, (&nbsp;&nbsp;&nbsp;) Pouco&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Muito</p>

                        <p>Consome Bebida alcoólica&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, (&nbsp;&nbsp;&nbsp;) Com Frequência&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Socialmente</p>

                        <p>Utiliza algum tipo de droga&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, qual ? _____________________.</p>

                        <p>Utiliza algum medicamento&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, qual ? _____________________.</p>

                        <p>Internações ou cirurgias&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, (&nbsp;&nbsp;&nbsp;) Grave&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não Grave</p>

                        <p>Realiza tratamento psiquiátrico&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não</p>

                        <p>Sofreu algum acidente&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, (&nbsp;&nbsp;&nbsp;) Grave&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não Grave</p>

                        <br />
                        <p>Tem dores de cabeça&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, (&nbsp;&nbsp;&nbsp;) Com Frequência</p>

                        <p>Sofre de tonturas&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, (&nbsp;&nbsp;&nbsp;) Com Frequência</p>

                        <p>Sofre de insônia&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, (&nbsp;&nbsp;&nbsp;) Com Frequência</p>

                        <p>Tem desmaios&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, (&nbsp;&nbsp;&nbsp;) Com Frequência</p>

                        <p>Tem diabetes, epilepsia, doença cardiaca, doença neurologica, doença pulmonar ou outras&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo, qual ? ____________________.</p>

                        <br />
                        <p>Como classifica aua alimentacao&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Otima&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Boa&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Adequada&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Ruim&nbsp;&nbsp;&nbsp;</p>

                        <p>Mão dominante&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Destro&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Canhoto&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Ambidestro</p>

                        <p>Relacionamento familiar&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Bom&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Regular&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Ruim</p>

                        <p>Pessoa com deficiência&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Sim&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;) Não, caso afirmativo,qual ? ____________________.</p>

                        <br />
                        <p>Eu,_______________________________________________________________,declaro não ter sido reprovado (a) em exame psicológico do DETRAN no último ano.</p>

                        <p>Declaro que as informações fornecidas acima são verdadeiras.</p>

                        <p>_____________________________________________</p>
                        <p>Asssinatura do candidato sob pena de responsabilidade</p>

                        <div class="ln_solid"></div>
                        <p>Parecer da entrevista: _______________________________________________________________________________________________________________.</p>

                        <p>Data: ____/____/________.</p>
                        <div class="text-center">
                            <p>_________________________________&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  ________________________________</p>
                            <p> Carimbo e Assinatura do Psicólogo &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Carimbo e Assinatura do Médico</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- /page content -->
@section ScriptPage {

}
