@model PPTRANControlesWebApp.Models.CaixaViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Lançamento de Valores</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <a asp-action="Index" class="glyphicon glyphicon-minus-sign"></a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form asp-controller="Caixa" asp-action="create" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Caixa.Id" />
                            <input type="hidden" asp-for="Cliente.Id" />
                            <input type="hidden" asp-for="Clinica.Id" />
                            <input type="hidden" asp-for="Produto.Id" />
                            <input type="hidden" asp-for="Historico.Id" />

                            <div class="item form-group">
                                <label asp-for="Caixa.Data" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Caixa.Data" type="text" value="@DateTime.Today.ToString("dd/MM/yyyy")" class="form-control" required="required" data-inputmask="'mask': '99/99/9999'">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Produto.Nome" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="Caixa.ProdutoId" class="form-control" required="required" asp-items="@(new SelectList(@ViewBag.Produtos, "Id", "Nome"))"></select>
                                    <span asp-validation-for="Caixa.ProdutoId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Cliente.CPF" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Cliente.CPF" type="text" class="form-control" data-inputmask="'mask': '999.999.999-99'">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Caixa.Historico.Nome" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="Caixa.HistoricoId" class="form-control" asp-items="@(new SelectList(@ViewBag.Historicos, "Id", "Nome"))" required="required"></select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Caixa.Ref" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Caixa.Ref" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Caixa.Tipo" for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="Caixa.Tipo" class="form-control" asp-items="@Html.GetEnumSelectList<Models.EnumHelper.Tipo>()" required="required"></select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Caixa.FormaPgto" for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="Caixa.FormaPgto" class="form-control" asp-items="@Html.GetEnumSelectList<Models.EnumHelper.FormaPgto>()">
                                        <option selected="selected" value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Clinica.Alias" for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6">
                                    <select asp-for="Caixa.ClinicaId" class="form-control" asp-items="@(new SelectList(@ViewBag.Clinicas, "Id", "Alias"))" required="required" id="clinica"></select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Caixa.Valor" class="col-form-label col-md-3 col-sm-3 label-align"></label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Caixa.Valor" type="text" class="form-control" required="required">
                                    <span asp-validation-for="Caixa.Valor" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 offset-md-2">
                                    <button type="submit" class="btn btn-success" id="sbmt">Salvar</button>
                                    <a asp-action="Index" class="btn btn-primary">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptPage {

    <script>
        document.getElementById("sbmt").addEventListener("click", function () {
            var validaClinica = document.getElementById("clinica");
            console.log(validaClinica);
            if (!validaClinica.value) {
                alert("O preenchimento da Clínica é obrigatório!");
            };
        });
    </script>
}