@model Models.Caixa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/vendors/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="right_col" role="main">
    <div class="page-title">
        <div class="clearfix"></div>
        <div class="col-md-6 ">
            <div class="row">

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Informações do Lançamento</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <a asp-action="Index" class="glyphicon glyphicon-minus-sign"></a>&nbsp;&nbsp;
                            <a asp-action="" onClick="window.print()" class="glyphicon glyphicon-print"></a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <dl class="row">
                            @Html.HiddenFor(model => model.Id)
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Data)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Data)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Historico)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Historico.Nome)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Produto)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Produto.Nome)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Tipo)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Tipo)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Valor)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Valor)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.FormaPgto)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.FormaPgto)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Ref)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Ref)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ClienteId)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Cliente.Nome)
                            </dd>

                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ColaboradorId)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Colaborador.Nome)
                            </dd>

                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Clinica.Alias)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Clinica.Nome)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.IdUser)
                            </dt>
                            <dd class="col-sm-8">
                                @ViewBag.Usuario
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>