@model Models.Caixa

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-8 col-sm-8 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Baixa Lançamento</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*<a asp-action="Index">Retornar</a>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <div>

                                    <dl class="row">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.HiddenFor(model => model.Data)
                                        @Html.HiddenFor(model => model.Valor)
                                        @Html.HiddenFor(model => model.IdUser)
                                        @Html.HiddenFor(model => model.ProdutoId)
                                        @Html.HiddenFor(model => model.ClienteId)
                                        @Html.HiddenFor(model => model.ClinicaId)
                                        @Html.HiddenFor(model => model.HistoricoId)
                                        @Html.HiddenFor(model => model.ColaboradorId)


                                        @if (Model.ClienteId != null)
                                        {
                                            <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Cliente.Nome)</dt>
                                            <dd class="col-md-8 col-sm-8 ">
                                                <input asp-for="Cliente.Nome" type="text" class="form-control" disabled="disabled">
                                            </dd>

                                            <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Produto.Nome)</dt>
                                            <dd class="col-md-8 col-sm-8 ">
                                                <input asp-for="Produto.Nome" type="text" class="form-control" disabled="disabled">
                                            </dd>

                                        }
                                        else
                                        {
                                            <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Colaborador.Nome)</dt>
                                            <dd class="col-md-8 col-sm-8 ">
                                                <input asp-for="Colaborador.Nome" type="text" class="form-control" disabled="disabled">
                                            </dd>

                                            <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Historico.Nome)</dt>
                                            <dd class="col-md-8 col-sm-8 ">
                                                <input asp-for="Historico.Nome" type="text" class="form-control" disabled="disabled">
                                            </dd>

                                        }


                                        <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Valor)</dt>
                                        <dd class="col-md-8 col-sm-8 ">
                                            <input asp-for="Valor" class="form-control" disabled="disabled">
                                        </dd>

                                        <dt class="col-form-label col-md-3 col-sm-3 " id="FormaPgto">Forma Pgto</dt>
                                        <dd class="col-md-8 col-sm-8 ">
                                            <select asp-for="FormaPgto" class="form-control" asp-items="@Html.GetEnumSelectList<Models.EnumHelper.FormaPgto>()"></select>
                                        </dd>

                                        @*<dt class="col-form-label col-md-3 col-sm-3 ">Pagto Realizado</dt>
        <dd class="col-md-8 col-sm-8 ">
            <select asp-for="StatusPgto" class="form-control" disabled="disabled" asp-items="@Html.GetEnumSelectList<Models.EnumHelper.YesNo>()"></select>
        </dd>*@

                                        <dt class="col-form-label col-md-3 col-sm-3 ">@Html.DisplayNameFor(model => model.Ref)</dt>
                                        <dd class="col-md-8 col-sm-8 ">
                                            <input asp-for="Ref" type="text" class="form-control">
                                        </dd>
                                    </dl>
                                </div>
                                @if (Model.FormaPgto == Models.EnumHelper.FormaPgto.Selecionar)
                                {
                                    <p> </p>
                                    <p><span style="color: #f00;">* A opção de pagamento precisa ser alterada!</span></p>
                                }

                                <div class="ln_solid"></div>
                                <div class="item form-group">
                                    <div class="col-md-12 col-sm-12 offset-md-2">
                                        <button type="submit" class="btn btn-success">Baixar</button>
                                        <a asp-action="Index" class="btn btn-primary">Cancelar</a>                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

